@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Professor @ViewData["Professor"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Email"]</p>

<address>
    <strong>
        More Information:
    </strong>
    <a href="https://google.com">Saiba Mais</a>
</address>

